@media(max-width:785px){
    /* HEADER CABEÇALHO */
    header nav.navigation{
        padding: 8px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 40%;
        height: 100%;
        flex-direction: column;
        background: var(--ligthgry);
        gap: -10px;
        transition: 0.5s;
        border-bottom-left-radius: 50px;
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.068);
        
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 16px 0;
    }
    
    
    
    /* conteudo principal */
    section#section_titulo{
        background-color: var(--darkblue);
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
    }
    section#section_titulo div{
        width: auto;
        height: 30vh;
    }
    section#section_titulo div h1{
        font-size: 30px;
        padding-top: 90px;
    }
    section#section_titulo div p{
        padding: 20px;
    }
    


    section#section_container div#div_container{
        width: auto;
        margin: 0 20px;
    }
    section#section_container div#div_container div#conteudo_servicos{
        text-align: center;
    }
    section#section_container div#div_container div#conteudo_servicos div{
        width: 100%;
    }
    section#section_container div#div_container div#conteudo_servicos div img{
        width: 100%;
    }


    footer div#div_footer{
        width: auto;
    }
    footer div img#logo{
        width: 80px;
    }
    footer div#div_list ul{
        flex-wrap: wrap;
    }
}

@media(max-width:390px){
    main section div div#div_titulo h1{
        font-size: 24px;
        text-align: center;
    }
    main section div div#div_titulo p{
        font-size: 12px;
    }

    header nav.navigation ul {
        gap: 1rem;
    }
    .nav-menu{
        width: 40%;
        height: 100vh;
    }

    section#section_titulo div{
        width: auto;
        height: 29vh;
    }
}