@media(max-width:785px){
    /* HEADER CABEÇALHO */
    header nav.navigation{
        padding: 8px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 40%;
        height: 100%;
        flex-direction: column;
        background: var(--ligthgry);
        gap: -10px;
        transition: 0.5s;
        border-bottom-left-radius: 50px;
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.068);
        
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 16px 0;
    }    
}