@media (max-width: 1300px){
    main section#section_gps{
        
        background-size: 100%;
    }
    main section div#div_gps{
        width: 100%;
    }
    main section div div#div_titulo{
        margin: 0 10px;
        padding: 60px 0;
        display: flex;
        align-items: center;
    }
    main section div div#div_titulo h1{
        width: 300px;
        margin-top: 10px;
        font-size: 55px;
        text-align: left;
    }
    main section div div#div_titulo p{
        width: 350px;
        margin-right: 10px;
        font-size: 25px;
    }

    section#section_container{
        width: auto;
    }

}